{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-3">
    <div class="row resetpass">
        <form action="" method="post">
            {% csrf_token %}
            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif %}
                <label class="lab">Email : </label>
                <p class="rounded">{{ form.email }}</p>
                <input type="submit" class="btn btn-outline-primary" value="Reset password">
            </form>
    </div>
</div>

    {% endblock content %}